html
    head 
        style 
            include ./css/homepage.css
    body
        div(id="container")
            button(id="login") Login
            button(id="signup") Sign Up
        script
            include ./js/homepage.js