html 
    head 
    body 
        div Create an Account
        input(id="email", type="text")
        div(onclick="verifyEmail()") Verify Email
        div Tell us a little bit about your buisness
        input(type="text")
        script
            include js/test.js