html 
    head 
    body 
        div Enter your email address to create your account
        input(id="email", type="text")
        div(onclick="verifyEmail()") Verify Email
        script
            include js/test.js