html 
    head 
        style 
            include ./css/style.css
    body 
        div(id ="accountcreate") Create an Account!
            div(onclick="verifyEmail()") Verify Email
            input(id="email", type="text")
            
            div Tell us a little bit about your buisness
            input(type="text")
        script
            include js/test.js