html 
    head 
    body 
        input#email(type="email")
        input#password(type="password")
        button#login(onclick="loginAccount()") Login
        script 
            include js/clientLogin.js 