html 
    head 

    body 
        input#email(type="email",name="email",value=email, disabled class="businessSignUp")
        input#password(type="password",name="password",placeholder="Password" class="businessSignUp")
        div 
            button#signUpBtn(type="submit", onclick="createAccount()") Sign Up
        script. 
            const jwtToken = "#{jwtToken}"
        script 
            include js/clientLogin.js