@keyframes background-change {
    0%   {background-color: rgb(1,11,25);}
    50%  {background-color: rgb(2,22,49);}
    100% {background-color: rgb(3,33,74);}
}
body{
    animation:background-change 6s infinite alternate ease-in-out;
    /*background-color:	#010b19;*/
    overflow:hidden;
    display:flex;
    height:100vh;
}
i{
    position:absolute;
    height:180px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    animation: animate 12s ease-in infinite;

}
i:nth-child(4n+1){
    background:linear-gradient(transparent,#a81a1a);
}
i:nth-child(4n+2){
    background:linear-gradient(transparent,#bb29af);
}
i:nth-child(4n+3){
    background:linear-gradient(transparent,#507710);
}
i:nth-child(4n+4){
    background:linear-gradient(transparent,#1a8fa8);
}
@keyframes animate{
   0%
   {
    transform:translateY(-200px);
   } 
   100%{
    transform: translateY(calc(100vh));
   }
}
#loginbutton{
    border-radius:15px;
    background-color:rgba(3, 243, 15, 0.9);
    z-index:1;
    border: 2px solid white;
    outline:none;
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:20px;
    font-weight: 200;
    height:50px;
    width:150px;
}
#signupbutton{
    margin-top:30px;
    width:150px;
    height:50px;
    border-radius:15px;
    background-color:rgba(3, 243, 15, 0.9);
    z-index:1;
    border: 2px solid white;
    outline:none;
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:20px;
    font-weight: 200;
}
#logo{
    position:relative;
    height:200px;
    width:200px;
    z-index:1;
    margin-bottom:30px;
}
#slogan{
    position:relative;
    font-size: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#ffffff;
    width:540px;
    margin-top:30px;
    text-align:center;
}
#container{
    position:absolute;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:100%;
    height:100%;
    z-index:1;
}
#loginForm{
    position:absolute;
    z-index:1;
    display:none;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color:rgba(240, 240, 240,0.99);
    height: 50%;
    width:20%;
    border-radius:4%;
    border: 2px solid white;
}
#main{
    position:relative;
    justify-content:center;
    align-items:center;
    width:100%;
    height:100%;
    display:flex;
    
}
.logininput {
    border-radius:5px;
    border: 2px solid black;
    outline:none;
    background-color:#fcf0f4;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:14px;
    font-weight: 200;
    height:15%;
    width:80%;
    padding-left:10px;
    margin:8%;
    color:black;
}
#loginTitle{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:30px;
    font-weight: 200;
    color:black;
    justify-content:center;
    margin-bottom:2%;
}
#login{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:20px;
    font-weight: 200;
    color:black;
    justify-content:center;
    margin-top:2%;
    border:2px solid black;
    border-radius:5px;
    background-color:rgba(25, 138, 10, 0.973);
    height:15%;
    width:50%;
}

#loginForm #x-markimage{
    position:absolute;
    top:0;
    right:0;
    height:9%;
    width:11.25%;
    margin:5%;
}
#signupForm{
    position:absolute;
    z-index:1;
    display:none;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color:rgba(240, 240, 240,0.99);
    height: 35%;
    width:20%;
    border-radius:4%;
    border: 2px solid white;
}

#typeAccount{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:130%;
    font-weight: 200;
    color:black;
    align-items:flex-start;
    margin-bottom:5%;
    margin-right:2%;
}
#signupForm .button{
    display:flex;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:20px;
    font-weight: 200;
    color:black;
    text-align:center;
    justify-content:center;
    align-items:center;
    border:2px solid black;
    border-radius:5px;
    background-color:rgba(25, 138, 10, 0.973);
    height:20%;
    width:50%;
    margin:4%;
    margin-bottom:7%;
}
#signupForm #x-markimage{
    position:absolute;
    top:0;
    right:0;
    height:7%;
    width:7%;
    margin:2%;
}
#studentSignup{
    position:absolute;
    z-index:15;
    display:none;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:25%;
    height:55%;
    background-color:#fcf0f4;
    border-radius:10px;
    border: 2px solid black;
}
#studentSignUpTitle{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:30px;
    font-weight: 200;
    color:black;
    justify-content:center;
    margin-bottom:5%;
}
#studentSignUpButton{
    display:flex;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:20px;
    font-weight: 200;
    color:black;
    text-align:center;
    justify-content:center;
    align-items:center;
    border:2px solid black;
    border-radius:5px;
    background-color:rgba(25, 138, 10, 0.973);
    height:12%;
    width:36%;
    margin-top:-2%;
}
.signupinput{
    border-radius:5px;
    border: 2px solid black;
    outline:none;
    background-color:#fcf0f4;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:14px;
    font-weight: 200;
    height:12%;
    width:80%;
    padding-left:10px;
    margin-bottom:10%;
    color:black;
}
#studentSignUp #x-markimage{
    position:absolute;
    top:0;
    right:0;
    height:6%;
    width:7%;
    margin:2%;
}
#businessSignUp{
    position:absolute;
    z-index:15;
    display:none;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:25%;
    height:50%;
    background-color:#fcf0f4;
    border-radius:10px;
    border: 2px solid black;
}
#businessSignUpTitle{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:30px;
    font-weight: 200;
    color:black;
    justify-content:center;
    margin-bottom:5%;
}
#businessSignUp #x-markimage{
    position:absolute;
    top:0;
    right:0;
    height:6.5%;
    width:7%;
    margin:3%;
}
#fileExplanation{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:14px;
    font-weight: 200;
    color:black;
    justify-content:center;
    text-align:center;
    margin:10%;
    margin-top:-5%;
    margin-bottom:5%;
}