body{
    background-color:#d4eef8;
    overflow:scroll;
    margin-left:20px;
}
#accountcreate{
    display:flex;
    flex-direction:column;
    align-items:left;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 300px;
    margin-right: 25%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#accountcreatetitle{
    text-align: center;
    color:#190482;
}

.createinput{
    border-radius:4px;
}
#logoimage{
   height:50px;
    width:50px;
    padding: 5px;
}
#title{
    font-size:40px;
}
#introheader{
    margin-top:30px;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    font-size: 40px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#190482;
}
#slogan{
    margin-top:60px;
    margin-bottom:30px;
    font-size: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#3e26b4;
    width:540px;
    
    
}
#SignUpButton{
    display:flex;
    flex-direction:row;
    width:540px;
    justify-content:center;
}
#businessSignUpButton{
    background-color: #fcf0f4;
    border-color:black;
    border-width:1px;
    border-style:solid;
    border-radius: 10px;
    padding: 18px;
    margin: 20px;
    margin-right:50px;
    font-size:18px;
    width: 80px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;
    color:#190482;
    
}
#studentSignUpButton{
    font-size:18px;
    background-color: #fcf0f4;
    border-color:black;
    border-width:1px;
    border-style:solid;
    border-radius: 10px;
    padding: 18px;
    margin: 20px;
    width: 80px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;
    color:#190482;
}
#businessemail[type="text"]{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:16px;
}
#businessemail{
    width:500px;
    margin-bottom:60px;
    height:35px;
    padding:10px;
}
#buisnessemailtext{
    font-size:24px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#190482;
    margin-bottom:10px;
}
#businessinfotext{
    display:flex;
    flex-direction:row;
    font-size:24px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#190482;

}
#infoimage{
    height:2.5%;
    width:2.5%;
    padding-top:2px;
}
#infoimage:hover{
    height:3%;
    width:3%;
    padding-top:2px;
}
#buisnessinfoandimage{
    display:flex;
    flex-direction:row;
    width:500px;
    margin-bottom:10px;
}
#businessinfo{
    border-radius: 5px;
    padding: 10px;
    width: 500px;
    height:150px;
}
#businessinfo[type="text"]{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:16px;
    text-align:top;
    
}

#verifyemail{
    background-color: #6499E9;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    margin-top:5%;
    width: 25%;
    margin-left: 35%;
    margin-right: 35%;
}
