body{
    background-color:#d4eef8;
}
#accountcreate{
    display:flex;
    flex-direction:column;
    align-items:left;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    margin-top:5%;
    width: 300px;
    margin-right: 25%;
}
#accountcreatetitle{
    text-align: center;
    color:#190482;
}
#verifyemail{
    background-color: #6499E9;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    margin-top:5%;
    width: 25%;
    margin-left: 35%;
    margin-right: 35%;
}
#buisnessinfo{
    border-radius: 5px;
    padding: 10px;
    width: 500px;
    margin-right: 35%;
    height:150px;
}
.createinput{
    border-radius:4px;
}
#email{
    width:500px;
    margin-bottom:15%;
    height:35px;
}
#logoimage{
   height:50px;
    width:50px;
    padding: 5px;
}
#title{
    font-size:40px;
}
#introheader{
    margin-top:30px;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    font-size: 40px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#190482;
}